# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Logs
*.log
*.out
*.err

# Environment settings
.env
*.env

# Virtual environments
venv/
env/
ENV/
*.egg-info/
.eggs/

# Django-specific
db.sqlite3
*.sqlite3
media/
staticfiles/
static/

# Security files
*.pem
*.key

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Testing
.coverage
.tox/
.nox/
pytest_cache/
htmlcov/

# Build
build/
dist/
*.egg
*.manifest
*.spec
